<?xml version="1.0"?>
<configuration>

 
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  
 <system.serviceModel>
    <services>
      <service name="WCF_Meteorological.Service1" behaviorConfiguration="serviceBehavior">
        <endpoint address="" binding="webHttpBinding" contract="WCF_Meteorological.IService1" behaviorConfiguration="web"></endpoint>
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>




  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

   <appSettings> 
  <add key="dbConString" value="server=localhost;user id=root;persistsecurityinfo=True;database=adasa" />
  <add key="libraryName" value="adasa" />
  <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>

 
</configuration>
